<form [formGroup]="form" (ngSubmit)="onSubmit()" class="task-form">
    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Placeholder" type="text" formControlName="title" placeholder="Titulo" maxlength="200" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Placeholder" type="text" formControlName="description" placeholder="Descripción" maxlength="800" >
    </mat-form-field>
    <button mat-button color="primary" type="submit" [disabled]="form.invalid">
        <mat-icon>add</mat-icon>
        Agregar
    </button>
</form>