<h2 mat-dialog-title>Editar tarea</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="dialog-form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Título</mat-label>
    <input matInput formControlName="title" maxlength="200" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput rows="3" formControlName="description" maxlength="800"></textarea>
  </mat-form-field>

  <div class="actions">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
</form>
